<h2>이게 뭡니까?</h2>
<hr/>
<dl>
	<dt>가짜 이유</dt>
	<dd>하루 하루 어떻게 지났는지 모르게 지나갈 때가 많습니다. 사실, 우리는 그 어떠한 시간 속에서도 뭔가를 배우고, 또 뭔가를 다짐하며 살고 있지만, 
		사람의 기억력을 그렇게 좋지도 않을 뿐더러, '문자'화 해 놓지 않으면 막연한 이미지만을 지닌체 사라져 버립니다. 또 '문자'화 하는 과정에서 더욱 명확하게 정리를 하게 됩니다.
		이런 이유로 <strong>오늘의 교훈, 내일의 목표</strong>를 만들었습니다.</dd>
	<br/>
  <dt>사실은</dt>
  <dd>2000년대 초, 시대를 풍미하던 몇몇의 지인들이 그냥 심심해서 만든 블러그로 그 유래가 시작됨. 여튼 그런것은 중요한게 아니고, 백수생활을 하다보니 하루하루 기록이 매우 
  	중요하거나 혹은 그냥 태생이 변태같아서 뭔가 정리하지 않으면 손발이 오그라 드는지라, 얼마나 빡시게 살고, 얼마나 뭘 하는지를 스스로 계속 측정하고 큰 패턴을 보고 싶은 마음에, 
  	그리고 기억력도 워낙 안좋아서 어딘가 좀 디지털로 빠르게 입력해야할 공간은 필요해서, 놀고 있는 서버도 있고해서, 원래는 좀 심플하게 '로깅'하는 사이트가 있었는데, 하다보니
  	이것저것 다 넣고 싶어서, 이런 초등학생 방학계획표같은 것을 그리게 됩니다.</dd>
  	<br/>
  	
  	<dt>그리고 혹시 이런걸 원했던 다른 <strike>변태같은</strike> 사람이  또 있을까?</dt>
  <dd>잠시 살펴 보니 적어도 몇명은 이런 비슷한 짓을 하고 있는 것을 알았습니다. 그리고 갑자기 다른 사람들은 어떤 교훈을 얻으며 살아갈까도 궁금하고, 혹시라도 이런게 필요했던 사람이나
  	프랭클린다이어리나 여타 시스템 다이어리가 비싸다고 느끼시는 분이나, 그냥 뭔가 적어 놓지 않으면 죽을거 같은 메모광 같은 분들이 있다면 같이 써보셔도 좋겠습니다. 하지만 아마도 혼자
  	쓰게 될 것으로 예상하고 있습니다.</dd>
  	
  	<br/>
  	<dt>이후 계획</dt>
  <dd>사실 아침부터 오전 거의 꼬박 시간을 들였고, 그러다 뭐하나 안되서 삽질하다가, 애도 보고, 마트도 가고, simple_form이 time을 모두 datetime으로 처리해서 이걸 막느라 욕좀
  	보고, 여튼 거의 하루가 걸려서 만들었는데, 아마 이후 또 이런 시간이 난다면, 그리고 데이터가 쌓이면, 나의 행복그래프나, 업무시간의 변화량이나, 뭐 이런 것들을 보는 대쉬보드가 
  	들어가겠지요</dd>
  	 	<br/>
  	<dt>꾸준히 작성하신다면 다음과 같은 혜택이</dt>
  	<ul><li>아 내가 이런걸 배웠구나</li>
  		<li>아 내가 행복한 날보다 불행한 날이 더 많았구나</li>
  		<li>나의 신체 바이오 리듬은 이렇구나</li></ul>
  		등을 한눈에 알 수 있을지도 모르겠습니다. 
</dl>


