<h2>이게 뭡니까?</h2>
<hr/>
<dl>
  <dt>오늘의 교훈, 내일의 목표</dt>
  <dd>2000년대 초, 시대를 풍미하던 몇몇의 지인들이 그냥 심심해서 만든 블러그로 그 유래가 시작됨. 여튼 그런것은 중요한게 아니고, 백수생활을 하다보니 하루하루 기록이 매우 
  	중요하거나 혹은 그냥 태생이 변태같아서 뭔가 정리하지 않으면 손발이 오그라 드는지라, 얼마나 빡시게 살고, 얼마나 뭘 하는지를 스스로 계속 측정하고 큰 패턴을 보고 싶은 마음에, 
  	그리고 기억력도 워낙 안좋아서 어딘가 좀 디지털로 빠르게 입력해야할 공간은 필요해서, 놀고 있는 서버도 있고해서, 원래는 좀 심플하게 '로깅'하는 사이트가 있었는데, 하다보니
  	이것저것 다 넣고 싶어서, 이런 초등학생 방학계획표같은 것을 그리게 됩니다.</dd>
  	<br/>
  	<dt>그리고 혹시 다른 사람?</dt>
  <dd>다른 사람들은 어떤 반성을 하고, 어떤 것을 배우고 사는지 혹시나 사용하는 사람이 있다면 공유를? 여튼 언젠가는 '모바일용 아주 심플 일기 서비스'정도로도 발전해볼까도 고민을 했던
  	적이 있으나 일단은 그냥 내가 쓰려고</dd>
  	
  	<br/>
  	<dt>이후..</dt>
  <dd>사실 아침부터 오전 거의 꼬박 시간을 들였고, 그러다 뭐하나 안되서 삽질하다가, 애도 보고, 마트도 가고, simple_form이 time을 모두 datetime으로 처리해서 이걸 막느라 욕좀
  	보고, 여튼 거의 하루가 걸려서 만들었는데, 아마 이후 또 이런 시간이 난다면, 그리고 데이터가 쌓이면, 나의 행복그래프나, 업무시간의 변화량이나, 뭐 이런 것들을 보는 대쉬보드가 
  	들어가겠지요</dd>
</dl>


