<footer class="footer">
  <small>
    &copy; 2012 <a href="http://www.2mozak.com/">2mozak.com</a>
    by Odradeck
  </small>
  <nav>
    <ul>
      <li><small><%= link_to "Term and Terms", '#' %></small></li>
      <li><small><%= link_to "Feedback", '#' %></small></li>
    </ul>
  </nav>
</footer>