<footer class="footer">
  <small>
    &copy; 2012 <a href="http://www.2mozak.com/">2mozak.com</a>
    by Odradeck
  </small>
  <nav>
    <ul>
    	<li><%= link_to "이건뭔가?",    about_path %></li>
        <li><small><!-- %= link_to "피드백", '#' % --></small></li>
    </ul>
  </nav>
</footer>