<footer class="footer">
  <small>
    &copy; 2012 <a href="http://Gaesin.com/">Gaesin</a>
    by Odradeck
  </small>
  <nav>
    <ul>
      <li><small><%= link_to "Term and Terms",   terms_path %></small></li>
      <li><small><%= link_to "Contact", '#' %></small></li>
    </ul>
  </nav>
</footer>